{% extends 'base_template.html.twig' %}
    
    {% block title %}Recherche - FitPulse{% endblock %}
    {% block css %}<link rel="stylesheet" type="text/css" href="CSS/styles.css">{% endblock %}

    {% block content %}

    <main>
        
    <ul class = >

    </main>
    
    {% endblock %}